
.recipes {
   padding: 100px 80px 215px;
   background: #0a2850;
   background-image: url(../images/background_recipes.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.recipes__title {
   max-width: 580px;
   margin: 0;
   color: #fff;
   font-size: 44px;
   line-height: 52px;

}

.recipes__subtitle {
   max-width: 438px;
   margin-top: 24px;
   margin-bottom: 0;
   color: #fff;
   font-family: "Noto Serif";
   font-size: 20px;
   line-height: 30px;
}
